<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | RedPositive Services Pvt. Ltd.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <div class="landing">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="logo">
                    <div class="heading">
                        <h1>RedPositive Services</h1>
                    </div>
                    <div class="tagline">
                        <h4>Join a meeting, host a meeting...</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="list">
                    <ul class="landingoptions">
                        <li><a href="/login">SignIn</a></li>
                        <li><a href="/register">SignUp, it's Free</a></li>
                        <li><a href="/about">About RedPositive</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pricing">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <h5><a class="pricelink" href="/pricing">PRICING</a></h5>
                </div>
                <div class="col-sm-9 text-center">
                    <h5 class="have">&copy; RedPositive Services Pvt. Ltd.</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>